.AnnounceWidget {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 391px;
  background: #FFFFFF;
  border-radius: 4px;
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  text-align: center;

  .announce_img {
    width: 260px;
    height: 200px;
    margin:20px auto 15px;
    border: 1px solid #dddddd;
  }

  .title {
    font-size: 20px;
    color: #193644;
    letter-spacing: 0;
    line-height: 25px;
  }

  .content {
    font-size: 15px;
    color: #193644;
    line-height: 24px;
    margin: 10px 20px 25px;
  }

}