@font-face {
    font-family: 'PingFangSC-Medium';
    src: url("./fonts/PingFangSCMedium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFangSC-Regular';
    src: url("./fonts/PingFangSCRegular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #333333;
}

body {
    background-color: #333333;
    margin:0 auto;
    width: 1400px;
    height: 100%;
    font-family: 'PingFangSC-Regular';
    font-size: 14px;
}

#app {
    background-color: #333333;
}