.Records {

    background-color: #F7F9FB;

    .result_list {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;

        margin: 0px auto;
        width: 1000px;
        padding-top: 0px;
        background-color: #ffffff;

        .title {

            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            font-family: PingFangSC-Regular;
            font-size: 22px;
            color: #333333;
            letter-spacing: 0;
            line-height: 25px;
            margin-top: 24px;
            margin-left: 5px;

            .trip_logo {
                width: 20px;
                height: 25px;
            }

            .trip_title {
                font-family: PingFangSC-Regular;
                font-size: 22px;
                color: #333333;
                letter-spacing: 0;
                line-height: 22px;
                width: 90px;
                height: 22px;
                margin-top: 2px;
                margin-left: 15px;
            }

        }

        .table {
            margin-top: 20.5px;
            display: table;
            border-collapse: collapse;

            .table-tr {
                display: table-row;
                letter-spacing: 0;
                width: 1000px;

                border-top: 1px solid #DDDDDD;
                border-bottom: 1px solid #DDDDDD;

                .w0 {
                    width: 125px;
                }

                .w1 {
                    width: 150px;
                }

                .w2 {
                    width: 50px;
                }

                .w3 {
                    width: 365px;
                }

                .table-th {
                    white-space: nowrap;
                    font-size: 14px;
                    height: 50px;
                    line-height: 50px;
                    text-align: left;
                    padding-left: 5px;

                    display: table-cell;
                    font-family: PingFangSC-Medium;
                    color: #666666;
                }

                .table-td {
                    white-space: nowrap;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 5px;

                    display: table-cell;
                    font-family: PingFangSC-Regular;
                    color: #333333;

                    a {
                        color: #0078FF;
                        text-decoration: underline;
                    }
                }
            }

        }
    }

}
