.search_bar_tab {
  width: 70px;
  height: 40px;
  padding-top: 9px;
  font-size: 16px;
  color: #ffffff;

  &.active {
      color: #333333;
      background-image: url("./../../assets/img_selectbkg@1x.png")
  }
}
